.signup{
	border-top:0px;
	border-left:5px solid #16a085;
	padding-left:30px;
	font-family: 'Open Sans', sans-serif;
}

#sign-up, #login{
	border:none;
	outline:none;
	height:20%;
	margin-top:20px;
	background-color:white;
	border-left:5px solid #16a085;
	cursor:pointer;
}

#sign-up:hover, #login:hover{
	color:white;
	background-color:#16a085;
}